*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  background-color: var(--off-white);
  flex-direction: column;
  padding: 5rem 10rem;
}

h1 {
  color: var(--dark-blue);
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
}

h2 {
  color: var(--primary-soft-orange);
  margin-bottom: 10px;
  font-size: 3rem;
}

h3 {
  color: var(--off-white);
  cursor: pointer;
}

h3:hover {
  color: var(--primary-soft-orange);
  transition: color 0.3s ease;
}

h4 {
  color: var(--dark-blue);
  cursor: pointer;
  font-weight: 800;
  margin: 0;
  font-size: 1.25rem;
}

h4:hover {
  color: var(--primary-soft-red);
  transition: color 0.3s ease;
}

h5 {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 15px;
}

#light {
  color: var(--grayish-blue);
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 40px;
}

.logo-container {
  justify-self: start;
}

.mobile-menu-container {
  display: none;
}

.menu-link-container {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 48px;
}

a.menu-link {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--dark-grayish-blue);
  text-decoration: none;
  transition: color 0.3s ease;
}

a.menu-link:hover {
  color: var(--primary-soft-orange);
  text-decoration: none;
}

main {
  display: grid;
  grid-template-rows: 3fr 1fr;
  row-gap: 50px;
  margin-bottom: 10px;
}

.upper-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}

button {
  position: relative;
  background-color: var(--primary-soft-red);
  width: 180px;
  color: var(--dark-blue);
  font-weight: 700;
  border: 2px solid var(--primary-soft-red);
  height: 40px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
  align-self: end;
}

button:hover {
  background-color: var(--dark-blue);
  color: var(--off-white);
  border: 2px solid var(--dark-blue);
}

.main-article-container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 30px;
  /* border: 2px solid red; */
  align-items: flex-start;
}

.web-3-img {
  width: 100%;
  height: auto;
}

.mobile-web-3-img {
  display: none;
}

.main-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.side-text-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  row-gap: 10px;
  height: 100%;
  justify-content: space-between;
  margin-left: 20px;
}

.side-articles-container {
  display: grid;
  background-color: var(--dark-blue);
  padding: 20px;
  justify-content: space-between;
}

hr {
  color: var(--grayish-blue);
  height: 1px;
  background: var(--grayish-blue);
  font-size: 0;
  border: 0;
  width: 100%;
}

.bottom-articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  max-height: 160px;
}

.bottom-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.text-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.bottom-article-img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.red-index {
  font-size: 2rem;
  color: var(--primary-soft-red);
  font-weight: 700;
}

.attribution {
  position: absolute;
  bottom: -14rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 11px;
  text-align: center;
  color: var(--dark-blue);
}

.attribution a {
  color: var(--primary-soft-orange);
  font-weight: 700;
}

@media (max-width: 1024px) {
  body {
    padding: 2rem 4rem;
  }

  .attribution {
    display: none;
  }
}

@media (max-width: 796px) {
  body {
    display: grid;
    background-color: var(--off-white);
    flex-direction: column;
    padding: 1rem;
  }

  body.dimmed {
    overflow: hidden;
  }
  

  header {
    margin-bottom: 10px;
  }

  .web-3-img {
    display: none;
  }

  .mobile-web-3-img {
    display: flex;
    width: 100%;
    height: auto;
  }

  .mobile-menu-container {
    position: relative;
    justify-self: end;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  main {
    display: grid;
    grid-template-rows: 4fr 2fr;
    row-gap: 50px;
  }

  .menu-link-container {
    display: none;
  }

  .mobile-menu-container {
    display: flex;
  }

  .mobile-menu-link-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    max-width: 300px;
    height: 100%;
    background: var(--off-white);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    gap: 2rem;
    z-index: 100;
    transition: right 0.3s ease;
  }


  .mobile-menu-link-container.active {
    right: 0;
  }

  .close-menu {
    display: flex;
    position: absolute;
    right: 1rem;
  }

  .mobile-link-container {
    margin-top: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
  }

  .mobile-menu-link {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: start;
    color: var(--dark-grayish-blue);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .mobile-menu-link:hover {
    color: var(--primary-soft-orange);
  }

  .upper-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 40px;
  }

  .main-text-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .side-text-container {
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .bottom-articles-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .bottom-articles-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
  }

  .attribution {
    display: none;
  }
}
